<%- include('./includes/head.ejs') %>


    <%- include('./includes/navigation.ejs') %>

    <main class="container d-flex justify-content-center align-items-center min-vh-100">
        <h3 class ="display-5">Byznys views</h3>
    </main>
<%- include('./includes/end.ejs') %>