<%- include('./includes/head.ejs') %>

<h3 class="display-5 p-3 text-center text-light bg-info">New Bussiness checker</h3>
<main class="container  justify-content-center align-items-center min-vh-100">

    
            <div id="progress-info-container" class="container" style="display:none">
                <p id="progress-info">stahuju report</p>
            <img src="newByznys/images/refreshing0.gif" alt="loader" id="loader">
            </div>

            <button id="btn-load-report"  class="btn btn-primary">loadni report</button>
    
</main>
<script src = "/newByznys/js/main.js?<%-(new Date().getTime()) %>"></script>
<%- include('./includes/end.ejs') %>