<%- include('./includes/head.ejs') %>

<h3 class="display-5 p-3 text-center text-light bg-info">New Bussiness checker</h3>
<main class="container  justify-content-center align-items-center min-vh-100">

    
            <div id="progress-info-container" class="container" style="display:none">
             
            <img src="newByznys/images/refreshing0.gif" alt="loader" id="loader">
            </div>

            <button id="btn-load-report"  class="btn btn-primary">loadni report</button>
            <div id="result" class="container" style="display:none"></div>
            <p id="progress-info-container-counter"></p>

    <button id="btn-download-result"  class="btn btn-info">Stahni vypocteny report</button>
    <button id="testCsv"  class="btn btn-info">test csv parser</button>
</main>


<script src = "/newByznys/js/main.js?<%-(new Date().getTime()) %>"></script>
<script src = "/newByznys/js/download.js"></script>
<%- include('./includes/end.ejs') %>